<ion-header>
    <ion-navbar>
        <ion-title >About</ion-title>
    </ion-navbar>
</ion-header>


<page-status *ngIf="np.getStatus()"></page-status>
<ion-content *ngIf="np.getStatus()">


    <!-- Top -->
    <div style="background: url(assets/imgs/aboutus.jpg)" class="img-cover relative">
        <div class="absolute full ov-img-full"></div>
        <div class="ptb50 plr20 center relative z-shi">
            <h4 class="text-white up">About Us</h4>
            <p class="text-white">{{informacion[0]}}</p>
        </div>
    </div>


    <div class="p20 center">
        <h4 class="mb0">Informacion General</h4>
        <div class="bg-standard pt1 plr30 inline mt0"></div>
        <p> {{ informacion[1] }} </p>
        <p class="mb30"  (click)="redirect()"> Ver politica de privacidad </p>
      </div>


    <!-- Footer standard -->
    <div class="bg-dark center p10">
        <p class="font-14"> &copy; DTSoftware - Todos los derechos reservados</p>
        <img src="assets/img-icons/website-w.png" title="Website" class="p10">
        <img src="assets/img-icons/email-w.png" title="Email" class="p10">
        <!-- <img src="assets/img-icons/online-support-w.png" title="Support" class="p10"> -->
        <!-- <img src="assets/img-icons/facebook-w.png" title="Facebook" class="p10"> -->
    </div>
    <!-- End footer standard -->



</ion-content>