<ion-header>
  <ion-navbar color="clear">
    <ion-title>
      Radios Dominicanas
    </ion-title>
  </ion-navbar>
</ion-header>

<page-status *ngIf="np.getStatus()"></page-status>

<ion-content padding class="fondo" *ngIf="np.getStatus()">
  <h3 style="color: white;">{{ emisora.nombre }}</h3>

  <audio id="audio" [src]="emisora.url"></audio>
  <img src="assets/imgs/rocker.gif" class="img_fondo" *ngIf="playing">

  <img src="assets/imgs/dualring.svg" class="spinner2" *ngIf="!playing">
  <p style="font-family: Balobai; color: white;" *ngIf="!playing">Cargando..</p>


  <img src="assets/imgs/btn-pause.png" class="btn animated flip" *ngIf="state && playing" (click)="press(state)">
  <img src="assets/imgs/btn-play.png" class="btn animated flip" *ngIf="!state" (click)="press(state)">

  
  
</ion-content>