page-home {

    .img_fondo{
        margin: 30px auto;
    }
    .fondo{
       background-color: #335778;
       text-align: center;
       
    }
    .spinner2{
        width: 75px;
        margin:  70px auto;
        color: white;
    }
    .btn{
        width: 60px; 
        display: inline-block;
    }

    
   

}
