<ion-header>
  <ion-navbar color="clear">
    <ion-title>
      Radios Dominicanas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="fondo">
  <h3>{{ emisora.nombre }}</h3>
  
  <audio id="audio"  [src]="emisora.url" ></audio>
  <img src="assets/imgs/rocker.gif" class="img_fondo" *ngIf="playing">

  <img src="assets/imgs/dualring.svg" class="spinner"  *ngIf="!playing">
  <p style="font-family: Balobai" *ngIf="!playing">Cargando..</p>


      <img src="assets/imgs/btn-pause.png" class="btn animated flip" *ngIf="state && playing" (click)="press(state)">
      <img src="assets/imgs/btn-play.png" class="btn animated flip" *ngIf="!state" (click)="press(state)">

  <!-- <div class="btnredes animated shake">

    <a href="">
      <div class="redes">
        <i class="fab fa-facebook-f "></i>
      </div>
    </a>

    <a href="">
      <div class="redes">
        <i class="fab fa-twitter "></i>
      </div>
    </a>

    <a href="">
      <div class="redes">
        <i class="fas fa-globe"></i>
      </div>
    </a>

    <a href="">
      <div class="redes">
        <i class="fab fa-whatsapp "></i>
      </div>
    </a>



  </div> -->
</ion-content>