page-home {

    .img_fondo{
        margin: 30px auto;
    }
    .fondo{
       background-color: #335778;
       text-align: center;
       
    }
    .btn{
        width: 60px; 
    }
    
//    .redes{
//         color: #eee;
//         font-size: 40px;
//         float: left;
//         width: 70px;
//         height: 70px;
//         border: 2px solid #eee;
//         border-radius: 200px;
//         padding-top: 10px;
//         margin-left: 10px;
        
//     }

   

}
